$amareloForte: #f5db13;
$amareloFraco: #f2b807;
$amareloLaranja: #f28f16;
$vermelho: #d93e30;
$branco: #f6f7f9;
$preto: #212121;

$h1Font: 72px;
$h2Font: 64px;
$h3Font: 36px;
$h4Font: 24px;
$h5Font: 18px;
$h6Font: 12px;
$text: 16px;

$marginOne: 120px;
$marginTwo: 96px;
$marginTree: 80px;
$marginFour: 64px;
$marginFive: 32px;

$fontPrincipal: 'Karla', sans-serif;
$fontSecundaria: 'Source Sans 3', sans-serif;

$boxshadow:5px 7.9px 11.9px #0000002a,
40px 63px 80px #00000070
;

$normal: #aaa67f;
$fire: #f57d31;
$water: #6493eb;
$grass: #74cb48;
$flying: #a891ec;
$fighting: #c12239;
$poison: #a43e9e;
$electric: #f9cf30;
$ground: #dec16b;
$rock: #b69e31;
$psychic: #fb5584;
$ice: #9ad6df;
$bug: #a7b723;
$ghost: #70559b;
$steel: #b7b9d0;
$dragon: #7037ff;
$dark: #75574c;
$fairy: #e69eac;